
<div class="row  footer-color">
    
       
    <div class="col-md-4 ml-5 px-4 py-3  fontfamily fontsize border">
                <small><p>The Paint for healthy Homes.Do you thing sanitizing your hand are enough to stay safe?Think agin.It is the time to sanitize your home with Berger Silk Breathe Easy. </p>
                      
                <p>The Paint for healthy Homes.Do you thing sanitizing your hand are enough to stay safe?Think agin.It is the time to sanitize your home with Berger Silk Breathe Easy.The Paint for healthy Homes.Do you thing sanitizing your hand are enough to stay safe?Think agin.It is the time to sanitize your home with Berger Silk Breathe Easy.<br>

                  <p>The Paint for healthy Homes.Do you thing sanitizing your hand are enough to stay safe?Think agin.It is the time to sanitize your home with Berger Silk Breathe Easy.</small>
            </div>
            

      <div class="col-md-4 border ml-5 fontfamily fontsize">
       <small><p class="font-weight-bold mt-5">Why choose Berger Silk Breathe Easy?</p></small>
       <div class="row">
        <div class="col-md-4">
             <figure >
                  <img src="./assets/images/img2.png" class="img-fluid " width="60"><br><br>
                  <figcaption>Anti Pollution & Anti Bacterial</figcaption>
                </figure> 
                  <figure >
                  <img  src="./assets/images/img1.png" class="img-fluid" width="60"><br><br>
                  <figcaption>Kills 99% Bacteria</figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure >
                   <img  src="./assets/images/img3.png" class="img-fluid" width="60"><br><br>  
                   <figcaption>Enviornment Friendly & Low VOC</figcaption>  
                </figure>
                   <figure >
                   <img src="./assets/images/img2.png" class="img-fluid" width="60"><br><br>
                   <figcaption><i>Approved By </i><br>The Indian Medical Association</figcaption> 
                </figure>
            </div></div>
      </div> 



 </div>
   
