
   <div class="col-md-4 pos">
        <div class="shadow p-2 bg-white rounded-top rounded-top makeItCenter">
   
            
            <h6 class="font text-info">Know More About Berger Paint</h6>
            <div class=" font">
                Looking to paint your wall with a safe premium paint?Get in touch to know abour Ghar Ka Sanitizer-Berger Silk Breathe Easy.Fill the form below
            </div>

        
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mt-3" novalidate>

            <div class="form-group" [ngClass]="{'has-error' : userForm.get('name').errors && 
                (userForm.get('name').touched || userForm.get('name').dirty)}">
              <div class="col">
                <input type="text" class="form-control rounded-pill font" placeholder="Name" formControlName="name" pattern="^[a-zA-Z ]*$"> 
                    <span class="help-block" *ngIf="userForm.get('name')?.errors && 
                    (userForm.get('name').touched || userForm.get('name').dirty)">
                      <span class="fontValid" *ngIf="userForm.get('name')?.errors.required">
                        Name is required 
                      </span>
                      <span class="fontValid" *ngIf="userForm.get('name')?.errors.pattern">
                        Name is invalid
                      </span>
                    </span>
              </div>
            </div>
    
            <div class="form-group"  [ngClass]="{'has-error' : userForm.get('mob').errors && 
            (userForm.get('mob').touched || userForm.get('mob').dirty)}">
                <div class="col">
                  <input type="text" class="form-control rounded-pill font" placeholder="Mobile Number" formControlName="mob"  pattern="^((\\+91-?)|0)?[0-9]{10}$" onkeypress='return ((event.charCode > 47 && event.charCode < 58))' >
                  <span class="help-block" *ngIf="userForm.get('mob')?.errors && 
                  (userForm.get('mob').touched || userForm.get('mob').dirty)">
                    <span class="fontValid" *ngIf="userForm.get('mob')?.errors.required">
                      Mobile Number is required 
                    </span>
                    <span class="fontValid" *ngIf="userForm.get('mob')?.errors.pattern">
                      MobileNo is invalid
                    </span>
                  </span>
                </div>
              </div>
    
              <div class="form-group"   [ngClass]="{'has-error' : userForm.get('email').errors && 
              (userForm.get('email').touched || userForm.get('email').dirty)}">
                <div class="col">
                  <input type="text" class="form-control rounded-pill font" placeholder="Email Id" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  <span class="help-block" *ngIf="userForm.get('email')?.errors && 
                  (userForm.get('email').touched || userForm.get('email').dirty)">
                    <span class="fontValid" *ngIf="userForm.get('email')?.errors.required">
                      Email Id is required 
                    </span>
                    <span class="fontValid" *ngIf="userForm.get('email')?.errors.pattern">
                      Email Id is invalid
                    </span>
                  </span>
                 
                </div>
              </div>
    
              <div class="form-group"  [ngClass]="{'has-error' : userForm.get('city').errors && 
              (userForm.get('city').touched || userForm.get('city').dirty)}">
                <div class="col">
                  <input type="text" class="form-control rounded-pill font" placeholder="Your City" formControlName="city" pattern="^[a-zA-Z ]*$">
                  <span class="help-block" *ngIf="userForm.get('city')?.errors && 
                  (userForm.get('city').touched || userForm.get('city').dirty)">
                    <span class="fontValid" *ngIf="userForm.get('city')?.errors.required">
                      City is required 
                    </span>
                    <span class="fontValid" *ngIf="userForm.get('city')?.errors.pattern">
                      City is invalid
                    </span>
                  </span>
                
                </div>
              </div>
    
              <div class="form-group" [ngClass]="{'has-error' : userForm.get('lang').errors && 
              (userForm.get('lang').touched || userForm.get('lang').dirty)}">
                <div class="col">
                  <input type="text" class="form-control rounded-pill font" placeholder="Language You Prefer" formControlName="lang" pattern="^[a-zA-Z ]*$">
                  <span class="help-block" *ngIf="userForm.get('lang')?.errors && 
                  (userForm.get('lang').touched || userForm.get('lang').dirty)">
                    <span class="fontValid" *ngIf="userForm.get('lang')?.errors.required">
                      Language is required 
                    </span>
                    <span class="fontValid" *ngIf="userForm.get('lang')?.errors.pattern">
                     Language is invalid
                    </span>
                  </span>
                </div>
              </div>
    
              <div class="form-group">
                <div class="col">
                  <input type="text" class="form-control rounded-pill font " placeholder="Message(Optional)" formControlName="msg">
                </div>
              </div>
              
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck" formControlName="checkbox">
                  <label class="form-check-label font" for="gridCheck" >
                    I agree to the terms and conditions and also authorize burger india to contact me overriding my regisstry on NDN.
                  </label>
                </div>
              </div>

              <div class="text-center">
                <button [disabled]="(!userForm.valid)" type="submit" class="btn btn-info rounded-pill text-center">Submit</button>
              </div></form>
 
</div>
</div>

